@charset "utf-8";
body{line-height:100%; font-size:12px; font-family:"微软雅黑";}
*{margin:0; padding:0;}
a{text-decoration:none; color:#8c8c8c; font-size:12px;}
h1,h2,h3,h4,h5,h6{font-weight:normal; font-size:12px;}
ul li,ol li{list-style:none;}
b,strong{font-weight:normal;}
em,i{font-style:normal;}
input{outline:none; border:none;}
.fl{float:left; display:inline;}
.fr{float:right; display:inline;}
.clearFix:after{display:block; content:''; clear:both;}
.clearFix{zoom:1;}

.wrap{width:930px; margin:0 auto;}